.bgbody {
    background: linear-gradient(-90deg, rgba(255, 201, 85, 0.459), rgba(254, 255, 235, 0.918), rgba(255, 201, 85, 0.459));
    /* background: linear-gradient(-90deg, rgba(190, 255, 85, 0.788), rgba(254, 255, 235, 0.918), rgba(190, 255, 85, 0.788)); */
}

.bgtable {
    background-color: white;
}

.h2 {
    color: rgb(73, 73, 73);
}

.btext:link {
    COLOR: rgb(59, 59, 59);
    TEXT-DECORATION: none
}

.btext:visited {
    COLOR: rgb(59, 59, 59);
    TEXT-DECORATION: none
}

.btext:hover {
    COLOR: rgb(255, 255, 255);
    TEXT-DECORATION: none
}

.zen {
    border: 1px solid white;
}

.yellow {
    background-color: #ffd11a;
}

.bgwhite {
    background-color: #ffffff;
}

.page-content img {
    max-width: 100%;
    height: auto!important;
    border-radius: 10px;
}

.width100 {
    width: 300px;
}

.bgm {
    background-image: url("image/bgm.jpg");
    z-index: -999;
    min-height: 100%;
    min-width: 600px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.tcenter {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.grad {
    background: red;
    background: -webkit-linear-gradient(-90deg, rgba(255, 102, 0, 0.925), yellow);
    background: -o-linear-gradient(-90deg, rgba(255, 102, 0, 0.925), yellow);
    background: -moz-linear-gradient(-90deg, rgba(255, 102, 0, 0.925), yellow);
    background: linear-gradient(-90deg, rgba(255, 102, 0, 0.925), yellow);
}

.fg {
    background: red;
    background: -webkit-linear-gradient(-90deg, #ffeb99, rgb(255, 255, 0));
    background: -o-linear-gradient(-90deg, #ffeb99, yellow);
    background: -moz-linear-gradient(-90deg, #ffeb99, yellow);
    background: linear-gradient(-90deg, #ffeb99, yellow);
}

.linecerv {
    border-radius: 25px;
    /* border: 2px solid rgb(191, 255, 15); */
    border: 2px solid rgb(255, 199, 15);
}

.hcerv {
    border-radius: 25px;
    /* border: 2px solid rgb(191, 255, 15); */
    border: 2px solid rgb(255, 199, 15);
}

.newfont {
    font-family: 'Mitr';
}
